/* reset margin, padding */
body {
    margin: 0 !important;
    padding: 0 !important;
}

.red {
    border: 1px solid red;
}

.green {
    border: 1px solid green;
}

.banner {
    height: 500px;
    background: url('./banner.jpg') center center no-repeat;
    padding: 20px;

    .about-sig-in {
        height: 80px;
        width: 100%;
        text-align: right;

        .about,
        .sign-in {
            text-decoration: none;
            margin-top: 20px;
            display: inline-block;
            padding: 7px 15px;
            text-transform: uppercase;
        }

        .sign-in {
            margin-right: 60px;
            margin-left: 25px;
            border: 1px solid green;
            border-radius: 20px;
        }

    }

    .logo {
        background: url('./hapoERP.png') center center no-repeat;
        margin-top: 40px;
        height: 100px;
    }

    .text {
        text-align: center;
        margin-top: 30px;

        span {
            color: green;
        }
    }

    .btn-start-now {
        text-align: center;

        button {
            text-transform: uppercase;
            padding: 10px 15px;
            border: 1px solid green;
            border-radius: 20px;
            margin-top: 20px;
            cursor: pointer;
        }
    }

    .content-center {

        .left,
        .right,
        .center {
            width: 33%;
            display: inline-block;
            text-align: center;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        span {
            display: block;
            font-size: 25px;
            padding-top: 5px;
        }

        .text img {
            width: 30px;
            height: 30px;
        }

    }

}